
@import "variables";
@import "reset";
@import "../node_modules/bootstrap/scss/bootstrap.scss";



p{
    font-size: 1.3rem;

}
.text-justify {
    text-align: justify;
    
}

header{
    background-color:rgb(245, 245, 245);
    padding: 10px;
    font-weight: bold;
}

header .navbar-brand {
   
    font-weight: bold;
    color: blueviolet;  
    font-size: 48px;
}
.carousel-inner{
    max-height: 620px;
}
.nosotros{
    text-align: justify;
    line-height: 2em;
}

.lista{
    font-size: 30px;
    
}

.galeria-img {
    margin: 0 !important;
    padding: 25px;
    max-width: 100%;
    height: $height-galery;
    width: $width-galery;
}
.galeria-img:hover {
    border: 5px solid white;
}

