@mixin tamanioFont($tamanio){

    h1{
        font-size: $tamanio;
    }
    h2{
        font-size: $tamanio - 0.1;
    }
    h3 {
        font-size: $tamanio - 0.2;
    }
    h4 {
        font-size: $tamanio - 0.4;
    }
    p{
        font-size: $tamanio - 1.1;
    }
}

@mixin sizes($alto, $ancho){
    width: $ancho;
    height: $alto;
}

