@mixin tamanioFont(){
    p{
        font-size: 1.3rem;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.9rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.4rem;
    }
}