@mixin tamanioFont($tamanio){

    h1{
        font-size: $tamanio;
    }
    h2{
        font-size: $tamanio - 0.3;
    }
    h3 {
        font-size: $tamanio - 0.5;
    }
    h4 {
        font-size: $tamanio - 1;
    }
    p{
        font-size: $tamanio - 1.7;
    }
}

@mixin sizes($alto, $ancho){
    width: $ancho;
    height: $alto;
}

